<!-- <!DOCTYPE html>
<html> -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {font-family: Arial, Helvetica, sans-serif; text-align: center;}
</style>
</head>
<body>
    <h1>Hi ! Welcome to dashboard. </h1>
    <form action="/logout?_method=delete" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
<!-- </html> -->